<!DOCTYPE html>
<html>
<head>
  <title>BackPack</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
   <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
  <% if logged_in? %>
    <%= button_to "Log out", session_url, method: :delete %>
  <% end %>


  <% if flash[:errors] != nil && !flash[:errors].empty? %>
     <p><%= flash.now[:errors] %></p>
     <% end %>
<%= yield %>

<% if current_user  %>
   <script type="text/javascript">
         window.CURRENT_USER_ID = <%= current_user.id %>;
    </script>
  <% end %>
</body>
</html>
